{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <main>
        <h1 class="h1-font-size text-center my-5 main-color fs-4">Vos commandes</h1>
        <section class="container-fluid">
            {% for commande in userCommandes %}
                {% for contentCommande in commande.jsonCommand %}
                    {% set objCommand = convert_json_to_array(contentCommande, true) %}
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 col-xl-4 my-3">
                            <article class="card background-secondary-color">
                                <div class="card-body">
                                    <div class="my-3">
                                        <div class="card-text">
                                            {% set totalPrice = 0 %}
                                            {% for item in objCommand %}
                                            {% set totalPrice = totalPrice + item.price | convert_string_to_float %}
                                                <p>
                                                    <span class="fw-bold">
                                                        nom:
                                                        <span class="fw-normal">
                                                            {{ item.name}}
                                                        </span>
                                                    </span>
                                                </p>
                                                <p>
                                                    <span class="fw-bold">
                                                       prix:
                                                        <span class="fw-normal">
                                                            {{ item.price}} €
                                                        </span>
                                                    </span>
                                                </p>
                                                <p>
                                                    <span class="fw-bold">
                                                           quantité:
                                                        <span class="fw-normal">
                                                            {{ item.quantity}} {{ item.unit }}
                                                        </span>
                                                    </span>
                                                </p>
                                                <hr>
                                                {% if item == objCommand|last %}
                                                    <p>
                                                        <span class="fw-bold fs-5">
                                                              Commande passée le:
                                                            <span class="fw-normal fs-5">
                                                                {{ commande.commandProductDate | convert_date_to_string }}
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span class="fw-bold fs-5">
                                                             Statut commande:
                                                            <span class="fw-normal fs-5">
                                                                {{ commande.commandProductStatus }}
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span class="fw-bold fs-5">
                                                              Prix Total:
                                                            <span class="fw-normal fs-5">
                                                                {{ totalPrice }} €
                                                            </span>
                                                        </span>
                                                    </p>
                                                {%  endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock %}



