{% extends 'base.html.twig' %}

{% block title %} ShoppingBasketController{% endblock %}

{% block body %}
        <h1 class="h1-font-size text-center my-5 main-color">Votre panier</h1>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card background-secondary-color col-10 col-sm-8">
                {# tableau panier produits#}
                <div>
                    <table class="table rounded">
                        <thead class="background-main-color rounded-2">
                        <tr>
                            <th scope="col" class="text-color-card-products col-1">nom</th>
                            <th scope="col" class="text-color-card-products col-1">PrixTTC</th>
                            <th scope="col" class="text-color-card-products col-1">quantité</th>
                        </tr>
                        </thead>
                        {% for item in app.session.get('Basket') %}
                            <tbody class="background-secondary-color">
                            <tr>
                                <td>{{ item['name'] }}</td>
                                <td>{{ item['price'] }}€</td>
                                <td>{{ item['quantity'] }} {{ item['price_unit'] }}</td>
                            </tr>

                            </tbody>
                            <tfoot class="background-main-color">
                                <tr>
                                    {%  if loop.last %}
                                        <th class="text-color-card-products" scope="col">Total</th>
                                        <th class="text-color-card-products" scope="col">{{ totalPriceController }}€ </th>
                                    {%  endif %}
                                </tr>
                            </tfoot>
                        {%  endfor %}
                    </table>
                </div>
                {# fin section tableau card produit#}
            </div>
        </div>
    <div class="d-flex justify-content-center align-items-center flex-column justify-content-md-around flex-md-row">
        <div class="mt-5 d-flex justify-content-around align-items-center">
            {# bouton pour revenir à la page précédente fonction JS goBack() #}
            <a onclick="goBack()" type="button" class="button_go_back text-color-card-products">Allez à la page précédente</a>
        </div>
        <div class="mt-5 d-flex justify-content-around align-items-center">
            <a href="{{ path('app_home') }}"  type="button" class="button_go_back text-color-card-products">Retounez à l'accueil</a>
        </div>
        <div class="mt-5 d-flex justify-content-around align-items-center">
            {# valider le panier #}
            <a href="{{ path('app_command') }}"  type="button" class="button_go_back text-color-card-products">Passer à la commande</a>
        </div>
    </div>
{% endblock %}

