
{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <main>
        <h1 class="h1-font-size text-center my-5 main-color">Votre panier</h1>
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-10 col-sm-8">
                    <div class="card background-secondary-color">
                        {% for item in app.session.get('Basket') %}
                            <article class="card d-flex justify-content-center flex-column flex-md-row my-4 mx-auto col-10">
                                <div class="col-12 col-md-6">
                                    <img src="{{ asset("build/images/"~item['image']~"") }}" class="col-12 object-fit-fill h-100" alt="afficher image du produit">
                                </div>
                                <div class="card-body background-main-color col-12 col-md-4">
                                    <h2 class="card-title text-color-card-products">
                                         {{ item['name'] }}
                                    </h2>
                                    <p class="my-3 text-color-card-products">
                                        {{ item['price'] }}€/{{ item['unit'] }}
                                    </p>
                                    <div class="my-3 text-color-card-products">
                                        quantité: {{ item['quantity'] }} {{ item['unit'] }}
                                    </div>
                                    <a type="button" class="text-decoration-none background-color-card-button text-color-card-products rounded-2 p-2"
                                       href="{{ path('app_remove_basket', { 'id': item['id'] }) }}">Supprimer</a>
                                </div>
                            </article>
                        {% endfor %}
                        <div class="row justify-content-center align-items-center align-items-center">
                            <div class="col-10 col-md-6">
                                <p class="text-color-card-products background-main-color my-3 p-3 rounded-2 text-center">
                                    Total: {{ totalPriceController }}€
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="mt-5">
                    <a href="{{ path('app_search_products') }}"  type="button" class="button_go_back text-color-card-products">Continuer la commande</a>
                </div>
                <div class="mt-5">
                    {% if app.user %}
                        <a href="{{ path('app_command') }}"  type="button" class="button_go_back text-color-card-products">
                            Valider la commande
                        </a>
                    {%  else %}
                        <p>Veuillez vous connectez pour continuer!</p>
                        <a href="{{ path('app_login') }}"  type="button" class="button_go_back text-color-card-products">
                            se connecter
                        </a>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

