
{% extends 'base.html.twig' %}

{% block title %} ShoppingBasketController{% endblock %}

{% block body %}
        <h1 class="h1-font-size text-center my-5 main-color">Votre panier</h1>
        <div class="row justify-content-center align-items-center">
            <div class="card d-flex justify-content-center align-items-center background-secondary-color col-10 col-sm-8">
                {% for item in app.session.get('Basket')  %}
                    <div class="card d-flex justify-content-center flex-column flex-md-row col-10 my-4">
                        <div class="col-12 col-md-6">
                            <img src="{{ asset("build/images/"~item['image']~"") }}" class="col-12 object-fit-fill h-100" alt="afficher image du produit">
                        </div>
                        <div class="card-body background-main-color col-12 col-md-4">
                            <h2 class="card-title text-color-card-products">
                                {# on appliques un filtre pour limiter le nombre de caractères affichées#}
                                 {{ item['name'] }}
                            </h2>
                            <p class="my-3 text-color-card-products">
                                {{ item['price'] }}€/{{ item['unit'] }}
                            </p>
                            <div class="my-3 text-color-card-products">
                                quantité: {{ item['quantity'] }} {{ item['unit'] }}
                            </div>
                            <a type="button" class="text-decoration-none background-color-card-button text-color-card-products rounded-2 p-2"
                               href="{{ path('app_remove_basket', { 'id': item['id'] }) }}">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-color-card-products background-main-color my-3 p-3 rounded-2">Total: {{ totalPriceController }}€</div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column justify-content-md-around flex-md-row">
            <div class="mt-5 d-flex justify-content-around align-items-center">
                {# bouton pour revenir à la page précédente fonction JS goBack() #}
                <a onclick="goBack()" type="button" class="button_go_back text-color-card-products">Allez à la page précédente</a>
            </div>
            <div class="mt-5 d-flex justify-content-around align-items-center">
                <a href="{{ path('app_search_products') }}"  type="button" class="button_go_back text-color-card-products">Continuer la commande</a>
            </div>
            <div class="mt-5 d-flex justify-content-around align-items-center">
                <a href="{{ path('app_command') }}"  type="button" class="button_go_back text-color-card-products">Valider la commande</a>
            </div>
        </div>
{% endblock %}

