{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="h1-font-size text-center my-5 main-color">Inscription</h1>

    <div class="d-flex justify-content-center align-items-center">
        {# modifier fond ecran formulaire #}
        {{ form_start(registrationForm, { 'attr': {'class': 'form'} }) }}
        <div class="row d-flex justify-content-start justify-content-lg-center my-3">
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.prenom, 'Prénom*', {'label_attr': {'class': 'label-prenom'}}) }}
                {{ form_widget(registrationForm.prenom, {'attr': { 'class': 'input-prenom'}}) }}
                {{ form_errors(registrationForm.prenom) }}


            </div>
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.nom, 'Nom*', {'label_attr': {'class': 'label-nom'}}) }}
                {{ form_widget(registrationForm.nom, {'attr': { 'class': 'input-nom'}}) }}
                {{ form_errors(registrationForm.nom) }}
            </div>
        </div>
        <div class="row d-flex justify-content-start justify-content-lg-center my-3">
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.email, 'Email*', {'label_attr': {'class': 'label-email'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'input-email'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.telephone, 'Téléphone*', {'label_attr': {'class': 'label-telephone'}}) }}
                {{ form_widget(registrationForm.telephone, {'attr': {'class': 'input-telephone'}}) }}

{#                 instruction d'affichage en Twig qui affiche les erreurs associées au champ telephone du formulaire registrationForm#}
{#                la fonction form_errors() de Twig qui affiche les erreurs associées à un champ de formulaire.#}
                {{ form_errors(registrationForm.telephone) }}

            </div>
        </div>
        <div class="row d-flex justify-content-start justify-content-lg-center">
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.plainPassword, 'Password*', {'label_attr': {'class': 'label-password'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': { 'class': 'input-password'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.passwordVerification, 'Vérifier*', {'label_attr': {'class': 'label-check-password'}}) }}
                {{ form_widget(registrationForm.passwordVerification, {'attr': { 'class': 'input-check-password'}}) }}
                {{ form_errors(registrationForm.passwordVerification) }}
            </div>
        </div>
        <div class="row d-flex justify-content-start justify-content-xl-start ms-xl-5 my-3">
            <div class="col-10 col-sm-6 col-xl-5">
                {{ form_label(registrationForm.agreeTerms, '', {'label_attr': {'class': 'label-agreeterms'}}) }}
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'input-agreeTerms'}}) }}
            </div>
        </div>
        <div class="row d-flex justify-content-start justify-content-xl-start ms-xl-5">
            <div class="col-10 col-sm-6 col-xl-5">
                <button type="submit" class="btn text-color-card-products background-main-color rounded-2 my-3 button-submit-form-register">S'inscrire</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
