{% extends 'base.html.twig' %}

{% block title %}SearchProductsController!{% endblock %}
{% block body %}
    <h1 class="h1-font-size text-center my-5 main-color">Nos Fruits</h1>
    {{ include('section_button_search_products.html.twig') }}
    <form class="d-flex justify-content-center align-items-center flex-column flex-md-row mt-5" action="{{ path('app_search') }}">
        <label class="label-search my-2 my-md-0 me-md-2"  for="name">Rechercher un produit</label>
        <input class="input-search rounded background-secondary-color my-3 my-md-0 me-md-2" type="text" id="name" name="name">
        <input class="input-search-submit my-3 my-md-0 rounded-2 background-main-color text-color-card-products p-2" type="submit" value="rechercher">
    </form>

    <div class="mt-5 w-auto">
{#          on affiches un message d'erreur grace à la variable 'message_error' passé en paramétre à la vue twig si aucun résultat trouvé#}
        {% if error_message is defined %}
            <div class="alert alert-success text-div-alert">{{ error_message }}</div>
        {% endif %}
    </div>
    <div class="row d-flex justify-content-center justify-content-md-center align-items-center my-5">
        {% for item in articlesFrut %}
            <div class="card cards_hover col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 me-3 my-4">
                <img src="{{ asset("build/images/"~item.product_image~"") }}" class="card-img-top" alt="image du produit">
{#                 on indique la page sur laquelle on envoyes les données via la root et on précises l'id pour le controlleur#}
                <a class="link-product" href="{{ path('app_details_products', {'id': item.id}) }}">Voir le produit</a>
                <div class="card-body background-main-color">
                    <h3 class="card-title text-color-card-products">
                        {{ item.product_name |nombre_characteres_nom_produit }}
                    </h3>
                    <div class="d-flex justify-content-between my-2">
                        {{ include('card_affichage/card_affichage.html.twig') }}
                    </div>
                    {# lien pour envoyer les produits selectionnés à la page panier#}
                    <a href="{{ path('app_add_basket',{'id' : item.id}) }}" class="btn btn-button-card d-flex justify-content-between align-items-center my-2 my-lg-0 background-color-card-button text-color-card-products">
                        <img src="{{ asset("build/images/cart_white.png") }}" class="icon-card me-3" alt="moyen d'ajouter des articles au panier">Ajouter au panier
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column justify-content-md-around flex-md-row">
        <div class="mt-5 d-flex justify-content-around align-items-center">
            {# bouton pour revenir à la page précédente fonction JS goBack() #}
            <a onclick="goBack()" type="button" class="button_go_back text-color-card-products">Allez à la page précédente</a>
        </div>
        <div class="mt-5 d-flex justify-content-around align-items-center">
            <a href="{{ path('app_home') }}"  type="button" class="button_go_back text-color-card-products">Retounez à l'accueil</a>
        </div>
    </div>
{% endblock %}

