
<div class="row mt-5 d-flex flex-column justify-content-center align-items-center flex-md-row">
    <div class="d-flex align-items-center justify-content-center flex-column align-items-md-start align-items-lg-center justify-content-lg-around col-10 col-md-5 col-lg-3 my-4">
        <img src="{{ asset("build/images/coq_new.svg") }}" alt="corporate identity rooster logo"
             class="rounded-circle my-3 img-rooster-footer col-5 col-sm-4 col-md-6">
        <h3 class="text-uppercase">Agribourg</h3>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column my-4 align-items-md-start col-10 col-md-5 col-lg-3">
        <h3>Informations pratiques</h3>
        <span class="mt-2"><a href="#" class="text-black text-decoration-none">Nos horaires</a></span>
        <span class="mt-2"><a href="#" class="text-black text-decoration-none">Points de collecte</a></span>
        <span class="mt-2"><a href="#" class="text-black text-decoration-none">Réservations pour accés à la ferme</a></span>
        <span class="mt-2"><a href="#" class="text-black text-decoration-none">Conditions générales de ventes</a></span>
        <span class="mt-2"><a href="#" class="text-black text-decoration-none">Mentions légales</a></span>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column my-4 my-md-0 align-items-md-start justify-content-md-around col-10 col-md-5 col-lg-3">
        <h3>Où nous trouver</h3>
        <span class="mt-2">Agribourg</span>
        <span class="mt-2">176,route de Bourg en Bresse</span>
        <div>
            <span class="d-flex justify-content-center align-items-center align-items-md-start justify-content-md-start mt-2">
                <img src="{{ asset("build/images/phone.png") }}" alt="Nous contacter par téléphone"
                     class="col-1 me-2"><span class="footer-font-size-text">04 72 00 00 00</span>
            </span>
            <span class="d-flex justify-content-center align-items-center align-items-md-start justify-content-md-start mt-2">
                <img src="{{ asset("build/images/mail.png") }}" alt="Nous contacter par email" class="col-1 me-3"><span
              >agribourg@bourg.com</span>
            </span>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column my-4 align-items-md-start col-10 col-md-5 col-lg-3">
        <h3>Nous rejoindre</h3>
        <div class="d-flex justify-content-start align-items-center mt-2">
            <img src="{{ asset("build/images/facebook.png") }}" alt="Nous rejoindre sur facebook"
                 class="me-3 img-icons">
            <img src="{{ asset("build/images/twitter.png") }}" alt="Nous rejoindre sur twitter" class="me-3 img-icons">
            <img src="{{ asset("build/images/linkedin.png") }}" alt="Nous contacter via linkedin" class="img-icons">
        </div>
        <h3 class="my-3">Paiement sécurisé STRIPE</h3>
        <div class="d-flex justify-content-center justify-content-md-start">
            <img src="{{ asset("build/images/stipe.png") }}" alt="moyen de paiement stipe"
             class=" col-7 col-md-5 icon-stipe">
        </div>
    </div>
</div>






