

<div class="row mt-5 d-flex justify-content-lg-between">
    <div class="d-flex align-items-center flex-column offset-1 col-4 col-lg-3 offset-lg-0">
        <img src="{{ asset("build/images/coq.png") }}" alt="corporate identity rooster logo" class="rounded-circle my-3 img-rooster-footer" >
        <h3 class="text-uppercase">Agribourg</h3>
    </div>
    <div class="d-flex justify-content-between flex-column offset-2 col-4 col-lg-3 offset-lg-0">
        <h3 class="title-h3">Informations pratiques</h3>
        <span class="mt-2 footer-font-size-text"><a href="#" class="link-footer">Nos horaires</a></span>
        <span class="mt-2 footer-font-size-text"><a href="#" class="link-footer">Points de collecte</a></span>
        <span class="mt-2 footer-font-size-text"><a href="#" class="link-footer">Réservations pour accés à la ferme</a></span>
        <span class="mt-2 footer-font-size-text"><a href="#" class="link-footer">Conditions générales de ventes</a></span>
        <span class="mt-2 footer-font-size-text"><a href="#" class="link-footer">Mentions légales</a></span>
    </div>
    <div class="d-flex justify-content-around flex-column offset-1 col-5 mt-5 col-lg-3 offset-lg-0 mt-lg-0">
        <h3 class="title-h3">Où nous trouver</h3>
        <span class="footer-font-size-text mt-2">Agribourg</span>
        <span class="footer-font-size-text mt-2">176,route de Bourg en Bresse</span>
        <div class="d-flex  align-items-center mt-2">
            <span><img src="{{ asset("build/images/phone.png") }}" alt="Nous contacter par téléphone" class="icons-footer me-3"><span class="footer-font-size-text">04 72 00 00 00</span></span>
        </div>
        <div class="d-flex align-items-center mt-2">
            <span><img src="{{ asset("build/images/mail.png") }}" alt="Nous contacter par email" class="icons-footer me-3"><span class="footer-font-size-text">agribourg@bourg.com</span></span>
        </div>
    </div>
    <div class="d-flex justify-content-around flex-column offset-1 col-5 mt-5 col-lg-3 offset-lg-0 mt-lg-0">
        <h3 class="title-h3">Nous rejoindre</h3>
        <div class="mt-3 d-flex justify-content-start">
            <img src="{{ asset("build/images/facebook.png") }}" alt="Nous rejoindre sur facebook" class="icons-footer me-3">
            <img src="{{ asset("build/images/twitter.png") }}" alt="Nous rejoindre sur twitter" class="icons-footer me-3">
            <img src="{{ asset("build/images/linkedin.png") }}" alt="Nous contacter via linkedin" class="icons-footer">
        </div>
        <h3 class="mt-3 title-h3">Paiement sécurisé STIPE</h3>
        <div>
            <img src="{{ asset("build/images/stipe.png") }}" alt="Nous contacter via linkedin" class="icons-stipe">
        </div>
    </div>
</div>




