{% extends 'base.html.twig' %}

{% block title %}DetailsProductsController{% endblock %}

{% block body %}
    <h1 class="h1-font-size text-center my-5 main-color">Votre produit</h1>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card mb-3 col-8 col-sm-6 col-md-8 col-lg-7">
            <div class="row g-0">
                {# image section de gauche#}
                <div class="col-12 col-md-6">
                    <img src="{{ asset("build/images/"~item.product_image~"") }}" class="col-12 object-fit-fill h-100" alt="...">
                </div>
                {# prix, titre, tableau section de droite #}
                <div class="d-flex justify-content-center align-items-center align-items-md-start col-12 col-md-6">
                    <div class="card-body background-color-grey h-100">
                        {# section titre et prix card produit#}
                        <h3 class="card-title">{{ item.product_name }}</h3>
                        <div class="d-flex justify-content-start flex-row my-2 text-black">
                            {% if item.price_unit == 'kg' %}
                                <p class="card-text">{{ item.price }}€/kg</p>
                            {% elseif item.price_unit == 'pièce' %}
                                <p class="card-text">{{ item.price }}€/pièce</p>
                            {% elseif item.price_unit == 'botte' %}
                                <p class="card-text">{{ item.price }}€/botte</p>
                            {% elseif item.price_unit == 'bocal' %}
                                <p class="card-text ">{{ item.price }}€/bocal</p>
                            {% elseif item.price_unit == 'panier' %}
                                <p class="card-text ">{{ item.price }}€/panier</p>
                            {% endif %}
                        </div>
                        {# fin section titre et prix card produit#}
                        {# section tableau card produit#}
                        <div>
                            <table class="table rounded">
                                <thead class="background-main-color rounded-2">
                                    <tr>
                                        <th scope="col" class="text-color-card-products">nom</th>

                                        <th scope="col" class="text-color-card-products">PrixTTC</th>
                                    </tr>
                                </thead>
                                <tbody class="background-secondary-color">
                                    <tr>
                                        <td>{{ item.product_name |nombre_characteres_nom_produit }}</td>
                                        <td>{{ item.price }}€</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {# fin section tableau card produit#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# bloc description, command, disponibilité #}
    <div class="d-flex justify-content-center align-items-center my-3">
        <div class="card my-3 col-8 col-sm-6 col-md-8 col-lg-7">
            <div class="card-body background-secondary-color">
                <h3 class="card-title text-black my-3">Description du produit:</h3>
                <p class="card-text text-black">{{ item.product_description }}</p>
                <h3 class="card-title text-black my-3">Disponibilité:</h3>
                <p>Ce produit est disponible sous 4h dans le point de collecte choisi.</p>
            </div>
        </div>
    </div>
    {# fin bloc description, command, disponibilité #}
    {# bloc conseils #}
    <div class="d-flex justify-content-center align-items-center my-3">
        <div class="card my-3 col-8 col-sm-6 col-md-8 col-lg-7">
            <div class="card-body background-secondary-color">
                <h3 class="card-title text-black my-3">Conseils:</h3>
                <p class="card-text text-black">{{ item.product_advice }}</p>
            </div>
        </div>
    </div>
    {# fin bloc conseils #}
    <div class="d-flex justify-content-center align-items-center col-12">
    {# bouton pour ajouter le produit au panier #}
        <a href="{{ path('app_add_basket',{'id' : item.id}) }}" class="btn btn-button-card d-flex justify-content-between align-items-center my-4 col-8 col-sm-4 col-md-3 col-xl-2 background-color-card-button text-color-card-products">
            <img src="{{ asset("build/images/cart_white.png") }}" class="icon-card me-3"  alt="moyen d'ajouter ce produit au panier">Ajouter au panier
        </a>
    </div>
    <div class="mt-5 d-flex justify-content-around align-items-center">
        {# bouton pour revenir à la page précédente fonction JS goBack() #}
        <a onclick="goBack()" type="button" class="button_go_back text-color-card-products">Allez à la page précédente</a>
    </div>
{% endblock %}


