
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 me-3 my-4">
        <div class="card cards_hover">
            <img src="{{ asset("build/images/"~item.productImage~"") }}" class="card-img-top" alt="afficher image du produit">
            {# on indique la page sur laquelle on envoyes les données via la root et on précises l'id pour le controlleur#}
            <a class="link-product" href="{{ path('app_details_products', {'id': item.id}) }}">Voir le produit</a>
            <div class="card-body background-main-color">
                <h2 class="card-title text-color-card-products">
                    {# on appliques un filtre pour limiter le nombre de caractères affichées#}
                    {{ item.productName | nombre_characteres_nom_produit }}
                </h2>
                <p class="my-3 text-color-card-products">
                    {{ item.productPrice }}€/{{ item.unit }}
                </p>
                <a href="{{ path('app_add_basket',{'id' : item.id}) }}" class="btn btn-button-card d-flex justify-content-between align-items-center my-2 my-lg-1
                background-color-card-button text-color-card-products">
                    <img src="{{ asset("build/images/cart_white.png") }}" class="icon-card me-3" alt="moyen d'ajouter ce produit au panier">Ajouter au panier
                </a>
            </div>
        </div>
    </div>



